.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #6792b7; /* Changed background color */
}

.home-content {
  flex: 1; /* Ensures content takes up remaining space between NavBar and Footer */
  text-align: center;
  padding: 20px;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4a90e2; /* Changed to a lighter blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(90, 34, 34);
}

.App-link {
  color: #ae60c0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
