.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;  /* Decreased padding to reduce overall size */
  /*background: linear-gradient(90deg, #0052D4, #4364F7, #6FB1FC);  /* Gradient background */
  color: white;
  background: rgb(225, 76, 76);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  transition: background-color 0.3s ease;
}

.logo {
  font-size: 1.2rem;  /* Reduced font size for the logo */
  font-weight: bold;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;  /* Reduced gap between links */
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;  /* Reduced font size for nav links */
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  text-decoration: none;
  color: #FFD700;  /* Gold color on hover */
}
