.home-page {
  display: flex;
  flex-direction: column;
  min-height: 330vh;
  background-color: white; /* Fallback background color */
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center-align text */
  padding: 0;
  background-image: url("../assets/images/main.jpg");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  animation: zoomInBackground 10s ease-in-out infinite;
  transition: background-size 2s ease-in-out;
}

.home-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for text contrast */
  z-index: 0;
}

@keyframes zoomInBackground {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%; /* Slight zoom-in */
  }
  100% {
    background-size: 120%; /* Reset to original size */
  }
}

.animated-heading {
  position: relative;
  color: white; /* Set heading color to white */
  z-index: 1;
  font-size: 3em;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 2s ease-in-out forwards, pulse 3s infinite;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

p {
  position: relative;
  color: white; /* Set paragraph color to white */
  z-index: 1;
  font-size: 1.2em;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInText 2.5s ease-in-out forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
